<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
  <link rel="icon" href="{{ url_for('static', filename='images/SIGEA_LOGOTIPO200.png') }}" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">

</head>
<body>
  <div class="sigea-header">
    SIGEA
  </div>
  <div class="main-container">
    <h2 style="text-align:right; color:#811B49; font-size:1.1rem; margin-top:0;">
        Bienvenid@, {{ nombre }}.
    </h2>
    <h1>Dashboard</h1>

    
    <!-- TABLA DE RESUMEN -->
    <h3>Resumen de Eventos</h3>
    <table>
      <thead>
        <tr>
          <th>Borrador</th>
          <th>Pendiente</th>
          <th>Terminado</th>
          <th>Reporte enviado</th>
        </tr>
      </thead>
      <tbody>
        <!-- Aquí irán los eventos registrados -->
      </tbody>
    </table>
  </div>
  <br>
  <div class="botones">
      <button onclick="window.location.href='{{ url_for('registrar_evento') }}'">Registrar nuevo evento</button>
      <!-- Ejemplo de botón para subir archivo -->
      <label for="archivo">Subir archivo
        <input type="file" id="archivo" onchange="mostrarNombreArchivo()">
      </label>
    </div>

    <div id="archivo-nombre"></div>
  <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>

</body>
</html>




