<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesion</title>
</head>
<body>
    <input type="email" id="correo" placeholder="Correo Electronico Institucional" required>
    <input type="password" id="contrasena" placeholder="Contraseña" required>
    <button id="inicioSesion">Iniciar Sesion</button>
    <br><br>
    <button onclick="window.location.href='/registro'">Registrar</button>
</body>
</html>